body {
  font-family: 'Rubik', sans-serif;
  background-image: url(../BodyImg.jpg)!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* Nav Bar Styling */
.navBarStyling {
  color: #FF4C00;
  font-family: 'Rubik Wet Paint', sans-serif;
  font-size: 100px;
  padding-left: 30px;
}

.navBarImg {
  background-image: url(../NavBarImg.png)!important;
}

.navLinkStyling {
  color: white;
  font-size: 22px;
  text-shadow: #FC0 1px 0 10px;  
  font-weight: bolder;
}

.navLinkStyling:hover {
  color: rgb(255, 210, 162);
  font-size: 22px;
  text-shadow: #FC0 1px 0 10px;  
  font-weight: bolder;
}

.cartStyling {
  font-size: 30px;
  color: white;
  filter: drop-shadow(1px 3px 2px #FC0);  
  font-weight: bolder;
}

.cartStyling:hover {
  font-size: 30px;
  color: rgb(255, 210, 162);
  text-shadow: #FC0 1px 0 10px;  
  font-weight: bolder;
}

/* Search Bar/Search Body Styling */
.searchBarImg {
  background-image: url(../BodyImg.jpg)!important;
}

.searchBarStyling {
  font-family: 'Rubik Distressed', sans-serif;
  font-size: 50px;
}

.btnStyling {
  background-color: #FF4C00;
  color: white;
  border-color: #FF4C00;
  font-weight: bolder;
}

.btnStyling:hover {
  background-color: #ffcc00;
  color: white;
  border-color: #ffcc00;
  font-weight: bolder;
}

.btnStyling:active {
  background-color: #FF4C00 !important;
}

/* Search Body Styling */
.searchBodyStyling {
  color: white;
  font-family: 'Rubik Distressed', sans-serif;
  font-size: 50px;
}

.cartBtnStyling:hover {
  background-color: #0088ff;
  border-color: #0088ff;
}

/* Login/Sign Up Modal Button Styling */
.signUpModal {
  color: white !important;
  background-color: #ff4d00 !important;
  border: none;
}

.signUpModal:hover {
  color: white !important;
  background-color:  #FC0 !important;
  border: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #ff4d00 !important;
}

.nav-link {
color: black;
}

.nav-link:hover {
  color: #FC0;
  }

/* Wrong Page! Styling */
.wrongPageStyling {
  color: white;
  font-family: 'Rubik Distressed', sans-serif;
  font-size: 100px;
}


